In [8]:
0b10 + 0o10 + 0x10

26

- `Camel Case`: numberOfCollegeGraduates.
- `Pascal Case`: NumberOfCollegeGraduates. (class)
- `Snake Case`: number_of_college_graduates. 

PEP 8 (rules search)

**Constants in Python**  
In python, by convention, constants are written in all capital letters and underscores separating the words. For example:
```python
PI = 3.14159
MAX_SIZE = 100
```

### <a id='toc3_2_'></a>[Not Understanding Variable References](#toc0_)

**Pitfall**: Assigning one variable to another doesn't create a new object. It just creates a new reference to the same object.

In [ ]:
a = 10
b = a
c = b

In [ ]:
a is b

True

### float

In [29]:
0.1 + 0.1 + 0.1 == 0.3

False

In [30]:
import math
math.isclose(0.1 + 0.1 + 0.1, 0.3)

True

In [10]:
int('4.2')

ValueError: invalid literal for int() with base 10: '4.2'

In [3]:
type(4e7)

float

#### operation
 **Floor Division (`//`)**:
   - Example: `7 // 3` results in `2`.   
   
 **Exponentiation (`**`)**:
   - Example: `3 ** 2` results in `9`.

 **Add and assign (`+=`)**:
   - Example: `x += 3` is equivalent to `x = x + 3`.

### string

In [18]:
print("""
This is a
string 
""")

print(r'foo\\bar\n')  # As a raw string
path = "C:\\Users\\Bob\\Documents"
path1 = r"C:\Users\Bob\Documents"
print(path)
print(path1)

beshkan = 'a\
 b\
 c\
'
print (beshkan)

This is a
string

foo\\bar\n
C:\Users\Bob\Documents
C:\Users\Bob\Documents
a b c

In [15]:
# String Methods (Strings are not are immutable)
text = "  hello,world  "
print ( text.split(",") )
print ( text.find("world") )
print (text.strip())
print ( text.replace("world", "Python") )

['  hello', 'world  ']
8
hello,world
  hello,Python

##### Some useful escape sequences include:

- `\t`: Tab
- `\n`: Newline
- `\\`: Backslash
- `\'`: Single quote
- `\"`: Double quotee quote

### Specifying a Stride in a String Slice

 is `string[start:stop:step]`, where:

- `start` is the starting index (**inclusive**).
- `stop` is the ending index (**exclusive**).
- `step` is the interval between characters.

To **reverse** a string, a common approach is:   
```python
s[::-1]
```

### string formatting


- #### 1: `.format()` method:

In [17]:
name1 = "Hamidreza"
age1 = 22
template = 'In ten years, {name} will be {age} years old.'
print(template)
new_rec = template.format(name=name1, age=age1+10)
print(new_rec)

In ten years, {name} will be {age} years old.
In ten years, Hamidreza will be 32 years old.

- #### 2:  `f-strings`:

In [34]:
name = "Hamidreza"
age = 22
template = f"In ten years, {name} will be {age + 10} years old."
template

'In ten years, Hamidreza will be 32 years old.'

### list & Tuples

In [19]:
empty_list = list()
empty_list = []
set_to_list = list({3, 1, 2})
none_list = [None] * 10
consecutive_numbers = list(range(10))

In [ ]:
# Accessing and Modifying List Elements  
fruits = ['apple', 'banana', 'cherry', 'date']
fruits.append('elderberry')
more_fruits = ['fig', 'grape']
fruits.extend(more_fruits)
fruits.insert(2, 'apricot') #(not efficient)
popped_first_fruit = fruits.pop(2) #(not efficient) #index
fruits.remove('cherry') #(not efficient) #
del fruits[1:3]
fruits.index('banana')
fruits.count('banana')

In [ ]:
numbers = [10, 2, 34, 14, 5]  
#   **sort**  inplace
numbers.sort()  
#    *new sorted list without altering the original :*  
new_num = sorted(numbers)  

#   **reverse**  
numbers.reverse()  
#    *create a new list with the elements:*    
list(reversed(numbers))  
numbers[::-1]

[2, 5, 10, 14, 34]

In [ ]:
numbers = [10, 2, 34, 14, 5]  
empty_tuple = ()
single_element_tuple = (4,)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2

## Dictionary

In [1]:
empty_dict = dict()
empty_dict = {}
person_info = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Using get() to retrieve a value (Handling Missing Keys with .get() )
occupation = person_info.get('occupation', 'Not specified')

'Not specified'

In [15]:
# Using another dictionary to update
portfolio = dict( [ ('AAPL',100), ('GOOG',25) ] ) 
portfolio.update({'TSLA': 50, 'AAPL': 200})  # Updates 'AAPL' and adds 'TSLA'
portfolio

{'AAPL': 200, 'GOOG': 25, 'TSLA': 50}

In [16]:
portfolio ['vnaft'] = '21'
# search `fromkeys()` method

In [8]:
portfolio

{'AAPL': 200, 'GOOG': 25, 'TSLA': 50, 'ALI': '22'}

In [10]:
portfolio.update(vnaft=11)

## set

In [24]:

empty_set = set()   
my_set = set('hello hello i am feri . ha ha ha ha . :)))) '.split())
my_set.add('ezafe sho')
another_set = {'1', '2', '3'}
my_set.update(another_set)
my_set |= {9, 10}
print (my_set)

{'ezafe sho', 'i', '.', 'hello', 'ha', 9, 10, '1', 'am', 'feri', ':))))', '2', '3'}

In [26]:
# if the specified element doesn’t exist in the set, `.remove()` will raise a `KeyError`:
my_set.remove(1)

KeyError: 1

In [27]:
my_set.discard(2)
my_set.clear()

### The search time in set is much better than in list. Because it uses hash.

In [14]:
l = list (range(1000))

In [11]:
%%timeit
'am' in my_set

30.8 ns ± 1.89 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [13]:
%%timeit
2 in l

38.4 ns ± 2.58 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [28]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
# Using the ^ operator (delta)
# set_a ^ set_b 
set_a.symmetric_difference(set_b)

{1, 2, 4, 5}

In [ ]:
# Creating a frozenset with elements
frozenset([1, 2, 3, 4, 5])

In [1]:
# Unpacking the tuple into variables
point = (7, 14, 21)
x, y, z = point

In [3]:
import numpy as np
# Packing data into a NumPy array
data_array = np.array([1, 2, 3, 4, 5])
print("Packed NumPy array:", data_array)

Packed NumPy array: [1 2 3 4 5]

In [6]:
# A tuple with several values
numbers = (1, 2, 3, 4, 5, 6)
# Unpacking the first and the last value, capturing the rest in the _
first, *_, last = numbers
print("First:", first)
print("_:", _)
print("Last:", last)

First: 1
_: [2, 3, 4, 5]
Last: 6

In [7]:
### Unpacking Dictionaries
student_grades_1 = {'Math': 90, 'English': 92}
student_grades_2 = {'Science': 88, 'History': 94}
# Merging both dictionaries into a new one
combined_grades = {**student_grades_1, **student_grades_2}

In [4]:
# Explicit Line Continuation
z, x, c, v = 1,2,3,4
tot = x + z + \
        + c + v

# A lengthy string
long_string = "This is a really long string that just keeps going " \
              "and going and doesn't seem to stop anywhere soon."

#Docstrings
def add(a, b):
    """
    Add two numbers and return the result.

    Parameters:
    a (int): The first number to add.
    b (int): The second number to add.

    Returns:
    int: The sum of a and b.
    """
    return a + b